<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <label>
    Nome:
    <input type="text" formControlName="firstName">
    <span *ngIf="registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched"
           class="alert">
      Nome é obrigatório.
    </span>
  </label>

  <br/>
  <br/>

  <label>
    Sobrenome:
    <input type="text" formControlName="lastName">
  </label>

  <p>
    {{registerForm.get('firstName')?.errors | json}}
    {{registerForm.get('firstName')?.touched | json}}
    {{registerForm.get('firstName')?.dirty | json}}
  </p>

  <button [disabled]="registerForm.invalid">Enviar</button>
</form>
