<form #form="ngForm">
  <label>
    Nome:
    <input type="text" name="nome" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Idade:
    <input type="text" name="idade" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Masculino
    <input type="radio" name="sexo" value="Masculino" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Feminino
    <input type="radio" name="sexo" value="Feminino" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Outros
    <input type="radio" name="sexo" value="Outros" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Angular
    <input type="checkbox" name="angular" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    Vue
    <input type="checkbox" name="vue" ngModel>
  </label>
  <br/>
  <br/>
  <label>
    React
    <input type="checkbox" name="react" ngModel>
  </label>
  <br/>
  <br/>
  <select name="comidas" ngModel>
    <option value="">Selecione um alimento</option>
    <!-- <option value="Batata doce">Batata doce</option>
    <option value="Peito de frango">Peito de frango</option>
    <option value="Arroz"> Arroz</option>
    <option value="Feijão">Feijão</option> -->

    <option *ngFor="let item of foodList" [ngValue]="item">
      {{item.food}}
    </option>
  </select>
  <br/>
  <br/>
</form>

<br/>
<br/>

{{form.value | json}}
