<main [ngClass]="{'noTasks': !tasks.length}">
  <ul *ngIf="tasks.length">
    <li *ngFor="let item of tasks; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" disabled [(ngModel)]="item.description" [ngClass]="{'taskDone': item.checked}">
      <button>
        <img src="./assets/thrash.svg" alt="Excluir tarefa" (click)="removeTask(i)">
      </button>
    </li>
  </ul>
</main>

<app-input-text (emitAddTaskItem)="addTask($event)"></app-input-text>
<app-footer *ngIf="tasks.length" (emitRemoveAllTasks)="removeAllTasks()"></app-footer>
