main{
  width: 350px;
  min-height: 250px;
  background-color: #FFF;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.08);
  margin-top: 20px;

  &.noTasks{
    background-image: url('../../../../../assets/task.svg');
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  ul{
    padding: 20px;

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    input{
      &[type="checkbox"]{
        width: 5%;
      }

      &[type="text"]{
        width: 80%;
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        color: #939CBD;
      }

      &[type="text"]:disabled{
        background: none
      }
    }

    button{
      width: 5%;
      background: none;
      border: none;
    }
  }
}
