main{
  width: 350px;
  height: 250px;
  background-color: #FFF;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.08);
  margin-top: 20px;
}

.imageContent{
  display: flex;
}

img{
  width: 160px;
  height: 166px;
  flex: 1;
  margin-top: 20px;
}

.taskContent{
  padding: 20px 24px;
  display: flex;
  align-items: center;
}

label{
  margin-left: 10px;
}
