header{
  width: 350px;
  height: 50px;
  background-color: #AF7EEB;
  padding: 15px;
  margin: 0 auto;
}

.title{
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
}
