header{
  width: 350px;
  height: 50px;
  background-color: #AF7EEB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  height: 50%;
}
